img {
  display: inline-block;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

.mz-social img {
  padding-right: 10px;
}

.mz-headline h1 {
  color: #fff;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
}

.mz h2 {
  color: #29b466;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 200;
}

.mz h3 {
  padding-bottom: 10px;
  color: #29b466;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

@media (min-width: 768px) {
  .mz-headline h1 {
    font-size: 75px;
    position: absolute;
    position:absolute;
    left:0;
    right:0;
    top: 330px;
  }
  .mz h2 {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .mz-headline h1 {
    font-size: 54px;
    position: absolute;
    position:absolute;
    left:0;
    right:0;
    top: 350px;
  }
  .mz-blurb h2 {
    font-size: 24px;
    margin-top: auto;
    padding: 15px 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 500px) {
  .mz-headline h1 {
    font-size: 34px;
    font-weight: 300;
    position: absolute;
    position:absolute;
    left:0;
    right:0;
    top: 380px;
  }
  .mz-blurb h2{
    font-size: 18px;
    line-height: 22px;
    margin-top: auto;
    padding: 15px 20px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .mz h3 {
  font-size: 18px;
  }
}
.mz .navbar {
  position: relative;
  margin-top: 5px;
  background-color: none;
  border-radius: 0;
}

.mz .navbar-brand {
  float: left;
  background: url('../assets/logo_white.png') no-repeat left center;
  border: 0px;
  margin-top: 10px;
  height: 34px;
  width: 140px;
}

.mz .navbar-collapse {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

.navbar-toggle {
  border: 1px solid #fff;
}

.mz .nav a {
  color: #fff;
  text-decoration: none;
}

.mz .navbar-nav a {
  padding: 15px 15px;
}

.mz .nav .active a {
  /* color: #80d588; */
  border: 1px solid #fff;
  border-radius: 8px;
}

.mz .nav a:hover {
  text-decoration: none;
  /* color: #80d588 ; */
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
}

.mz .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px #fff;
    background-color: #fff;
  }

.mz .jumbotron {
    position: relative;
    padding-top: 20px;
    background: #444 url('../assets/mapzen_cover.jpg');
    background-repeat: no-repeat;
    height: 450px;
    margin: 0 auto;
    background-size: cover;
}

.mz-email a {
  color: #80d588;
}
.mz-email a:hover {
  color: #29b466;
  text-decoration:none;
}

 .mz-footer {
  padding-top: 50px;
 }
