html {
  height:100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  background: #9ac2c6 url('../assets/mapzen_cover1.jpg') no-repeat;
  background-size: cover;
  height:100%;
}

.mz .jumbotron {
  width: auto;
  min-height:100%;
  background: transparent;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom: 31px;
  } 

#header {
  width: 120px;
  height: 112px;
  position: relative;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

#footer {
  position: relative;
  margin-top: -31px; 
  height: 31px;
  clear:both;
} 

#hr-divider {
  position:relative;
  margin-top:4%;
}

.mz-headline h1 {
  color: #d6645c;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 75px;
  position:relative;
  margin-top:15%;
}

.mz h3 {
  color: #6ea0a4;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  padding-left: 4%;
  padding-right: 4%;
  position:relative;
  margin-top: 0%;
}

.mz h4 {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
}

p {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#blurbs {
  display: block;
  position:relative;
  margin-top: 5%;
}

hr {
  border: 0;
  border-bottom: 1px dashed #6ea0a4;
}

a {
  color: #d6645c;
}

a:hover {
  color: #d6645c;
  text-decoration:underline;
}

.mz-footer p {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

@media (max-width: 767px) {
  .mz-headline h1 {
    font-size: 54px;
  }
  .mz h3 {
  font-size: 20px;
  }
  .mz h4 {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .mz-headline h1 {
    font-size: 38px;
  }
  .mz h3 {
  font-size: 16px;
  margin-top: 5%;
  }
}

/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}