html {
  background: #fefbde url('../assets/mapzen_cover4.jpg') no-repeat center center;
  background-size: cover;
  min-height: 100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  background: transparent;
  padding-top: 40px;
}

#header {
  text-align: center;
  margin: auto;
  margin-top: 8%;
  padding-left: 10%;
  padding-right: 10%;
}

#header img {
  width: 120px;
  height: 112px;
}

.navbar-brand img {
  width: 120px;
  height: 39px;
}

.asset img {
  width: 356px;
  height: 200px;
  float: right;
  vertical-align: middle;
}

.navbar-default {
  background-color: rgba(255,255,255,0.8);
  background-image: none;
  border: none;
  border-color: transparent;
}

.navbar {
  padding: 0 20px 0 20px;
}

.navbar-brand {
  padding: 6px 0px; 
}

.navbar-toggle {
  margin-right: 0px;
  border: none;
}

.navbar-default .navbar-nav li a {
  color: #494949;
}

.navbar-default .navbar-nav li a:hover {
  color: #d6645c;
}

.navbar-default .navbar-nav .active a {
  background: transparent;
  box-shadow: none;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #d6645c;
}

.navbar-default .navbar-nav .active a:hover {
  background: transparent;
  box-shadow: none;
  color: #d6645c;
}

#main {
  overflow: auto;
} 

#footer {
  position: relative;
  margin-top: 20%; 
  padding-bottom: 20px;
} 

#hr-divider {
  padding:0 4%;
}

.mz-headline h1 {
  color: #d6645c;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 75px;
  margin-top: 15%;
}

.mz h3 {
  color: #6ea0a4;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 130%;
  padding-left: 4%;
  padding-right: 4%;
  position:relative;
  margin-top: 0%;
}

.mz h2 {
  color: #6ea0a4;
  font-size: 42px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  line-height: 130%;
  padding-left: 4%;
  padding-right: 4%;
  position:relative;
  margin-top: 0%;
}

.mz h4 {
  color: #d6645c;
  font-size: 18px;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

.mz h5 {
  color: #494949;
  font-size: 20px;
  font-family: 'Playfair Display', Georgia, 'serif';
  font-weight: 400;
  text-align: left;
  margin-top: 0%;
}

p {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

#blurbs {
  display: block;
  position: relative;
  margin-top: 5%;
}

.mz-dev-block {
  display: block;
  position: relative;
  background-color: rgba(255,255,255,0.5);
  padding: 2%;
  margin-top: 2%;
}

.mz-dev-block p {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  text-align: left;
  padding-top: 4%;
}

hr {
  border: 0;
  border-bottom: 1px dashed #6ea0a4;
}

a {
  color: #494949;
  font-weight: 500;
}

a:hover {
  color: #d6645c;
  text-decoration: none;
}

.mz-footer p {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12px;
}

.btn-primary {
  border-color: #0a7f8a;
  background-color: #1296a2;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.btn-primary:hover {
  border-color: #0a7f8a;
  background-color: #0a7f8a;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.btn-default {
  border-color: #494949;
  background-color: #6b6b6b;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.btn-default:hover {
  border-color: #494949;
  background-color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  color: #fff;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

#header {
  margin-left: 5%;
  margin-right: 5%;
}

#dev-block {
  margin: 0 5%;
}

#dev-block a {
  margin-right: 10px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .mz-headline h1 {
    font-size: 54px;
  }
  .mz h3 {
    font-size: 20px;
  }
  .mz h4 {
    font-size: 18px;
  }
  .mz h5 {
  font-size: 18px;
}
  #header img {
    width: 90px;
    height: 84px;
  }
  #blurbs {
    margin-top: 12%;
  }
  .mz-dev-block {
    padding: 4%;
  }
  .asset img {
    float: right;
    display: block;
    width: 250px;
    height: 140px;
  }
}

@media (max-width: 641px) {
  .asset img {
    display: none;
    visibility: hidden;
  }
}


@media (max-width: 500px) {
  .mz-headline h1 {
    font-size: 38px;
  }
  .mz h3 {
    font-size: 18px;
    margin-top: 5%;
  }
  .mz h4 {
    font-size: 16px;
  }
  .mz-dev-block {
    padding: 4%;
  }
  .asset img {
    display: none;
    visibility: hidden;
  }
}

/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}