img {
  display: inline-block;
  height: auto;
  vertical-align: middle;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

.mz-social img {
  padding-right: 10px;
}

.mz-headline h1 {
  color: #fff;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
  font-size: 6.4vmax;
  position: absolute;
  position:absolute;
  left:0;
  right:0;
  top: 330px;
}

 .mz h2 {
  color: #29b466;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 200;
  line-height: 1.3em;
  margin-top: 0px;
  font-size: 3vmax;
 }

 .mz h3 {
  padding-bottom: 10px;
  color: #29b466;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
 }

.mz .navbar {
  position: relative;
  margin-top: 5px;
  background-color: none;
  border-radius: 0;
}

.mz .navbar-brand {
  float: left;
  background: url('../assets/logo_white.png') no-repeat left center;
  border: 0px;
  margin-top: 10px;
  height: 34px;
  width: 140px;
}

.mz .navbar-collapse {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

.navbar-toggle {
  border: 1px solid #fff;
}

.mz .nav a {
  color: #fff;
  text-decoration: none;
}

.mz .navbar-nav a {
  padding: 15px 15px;
}

.mz .nav .active a {
  /* color: #80d588; */
  border: 1px solid #fff;
  border-radius: 8px;
}

.mz .nav a:hover {
  text-decoration: none;
  /* color: #80d588 ; */
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
}

.mz .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px #fff;
    background-color: #fff;
  }

.mz .jumbotron {
    position: relative;
    padding-top: 20px;
    background: #444 center url('../assets/road13.jpg');
    background-repeat: no-repeat;
    height: 450px;
    margin-bottom: 0px;
}

.mz .jumbotron img {
    width: 100%;
    overflow: hidden;
}

.mz-blurb {
    margin-right: auto;
    margin-left: auto;
    padding: 15px 100px 15px 100px;
    color: #444;
    /* background-color: #e1ece3; */
    margin-bottom: 20px;
 }

 .mz-email a {
  color: #80d588;
}
.mz-email a:hover {
  color: #29b466;
  text-decoration:none;
}

 .mz-footer {
  padding-top: 50px;
 }