img {
  display: inline-block;
  height: auto;
  vertical-align: middle;
}
html {
  height:100%;
}

body {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  background: #fff url('../assets/mapzen_cover1.jpg') no-repeat;
  background-size: cover;
  height:100%;
}

.mz-headline h1 {
  color: #d6645c;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 100;
}

.mz h2 {
  color: #29b466;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 200;
}

.mz h3 {
  color: #6ea0a4;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
  line-height: 135%;
}

.mz h4 {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

.media-body {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
}

@media (min-width: 768px) {
  .mz-headline h1 {
    font-size: 75px;
    position:relative;
    left:0;
    right:0;
    margin-top: 40%;
  }
  .mz h2 {
    font-size: 28px;
  }
  .mz h4 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .mz-headline h1 {
    font-size: 54px;
    position:relative;
    left:0;
    right:0;
    margin-top: 60%;
  }
  .mz-blurb h2 {
    font-size: 24px;
    margin-top: auto;
    padding: 15px 20px;
    margin-bottom: 20px;
  }
  .mz h4 {
    font-size: 18px;
  }
}

@media (max-width: 500px) {
  .mz-headline h1 {
    font-size: 38px;
    position:relative;
    left:0;
    right:0;
    margin-top: 75%;
  }
  .mz-blurb h2{
    font-size: 18px;
    line-height: 22px;
    margin-top: auto;
    padding: 15px 20px;
    font-weight: 300;
    margin-bottom: 20px;
  }
  .mz h3 {
  font-size: 18px;
  }
}

.mz .brand {
  width: 120px;
  height: 112px;
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  margin-top: 5%;
}

.mz .navbar-collapse {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 400;
}

.navbar-toggle {
  border: 1px solid #fff;
}

.mz .nav a {
  color: #fff;
  text-decoration: none;
}

.mz .navbar-nav a {
  padding: 15px 15px;
}

.mz .nav .active a {
  border: 1px solid #fff;
  border-radius: 8px;
}

.mz .nav a:hover {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 8px;
}

.container .blurbs {
  display: block;
  position:relative;
  margin-top: 8%;
  }

hr {
  border: 0;
  border-bottom: 1px dashed #6ea0a4;
}

.mz .jumbotron {
  width: auto;
  margin-bottom: 0;
  min-height:100%;
  background: transparent;
}
.mz-container {
  overflow:auto;
  padding-bottom:31px;
}

.media-body a {
  color: #d6645c;
}
.media-body a:hover {
  color: #d6645c;
  text-decoration:underline;
}

.mz-footer {
  color: #494949;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  margin-top: 10%;
  position:relative;
  margin-top:-31px;
  height:31px;
  clear:both;
}
p.no-bottom-margin {
  margin:0px;
}
/*Opera Fix*/
body:before {
  content:"";
  height:100%;
  float:left;
  width:0;
  margin-top:-32767px;/
}